body {
  padding-top: 3.5rem;
  background-color: rgb(224, 221, 221);
}
body {
  overflow-x: hidden;
}

/* Form Styles */

#myDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

#form_title{
  background-color: blueviolet;
  position: absolute;
  min-height: 50px;
}

#myTitle{
  position:relative;
  top: 50%;
  left:30px;
  transform: translateY(50%);
}

#myForm{
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px
}

#form_body
{
  background-color: white;
  position: absolute;
  z-index: -1;
  top:5%;
  left:-2.5px;
  transform: translate(-2.5px, 5%);
  min-height: 50px; 
}

.table thead tr th{
  border-width: 0;
  font-weight: normal;
  color: blueviolet;
}

.form-control{
  border: 0; 
  outline: 0; 
  background: transparent; 
  border-bottom: 1px solid black; 
  border-radius: 0%;
}

#id_name{
  max-width: 50%;
}

/* Sidebar Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus, .active {
  text-decoration: none;
  background: blue;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}