{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <!-- Adapted from https://github.com/BlackrockDigital/startbootstrap-simple-sidebar-->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <img src="{% static 'images/small_logo.png' %}" width="30" height="30" alt="">
            <span style="color:white">DEKODING</span>
            
          </li>
          <hr style="border-color:white"/>
          <li>
            <a {% ifequal request.path "/dog/list/" %} class="active"{% endifequal %} href="/dog/list"><span class="far fa-clipboard"></span> Dog List</a>
          </li>
          <li>
              <a {% ifequal request.path "/dog/add/" %} class="active"{% endifequal %} href="/dog/add"><span class="far fa-plus-square"></span> Add Dog</a>
          </li>
          <li>
              <a {% ifequal request.path "/owner/list/" %} class="active"{% endifequal %} href="/owner/list/"><span class="far fa-clipboard"></span> Owner List</a>
          </li>
          <li>
              <a {% ifequal request.path "/owner/add/" %} class="active"{% endifequal %} href="/owner/add/"><span class="far fa-plus-square"></span> Add Owner</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" >
      <div style="position:relative">
    {% block sidebar-content %}{% endblock %}
    
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

{% endblock %}