{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Carousel-->	
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

		<!-- Item 1-->
    <div class="carousel-item active" style="min-height: 500px;  background-color: #808080;">
      <img class="d-block w-100" src="{% static 'images/logo.png' %}" alt="First slide" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); max-width:500px;max-height: 500px;">
		</div>
		<!-- /#Item 1-->

		<!-- Item 2-->
    <div class="carousel-item" style="min-height: 500px;">
      <div class="container-fluid">
	  		<div class="row" style="min-height: 250px;">
	    		<div class="col" style="background-color: #00ace6;">
	      		<div id="myDiv">D</div>
	    		</div>
	    		<div class="col" style="background-color: #006bb3;">
	      		<div id="myDiv">E</div>
	    		</div>
	    		<div class="col" style="background-color: #000099;">
	      		<div id="myDiv">K</div>
	    		</div>
	  		</div>
	  		<div class="row" style="min-height: 250px;">
	    		<div class="col" style="background-color: #808080;">
	      		<div id="myDiv">ODING</div>
	    		</div>
	  		</div>
			</div>
		</div>
		<!-- /#Item 2-->

		<!-- Item 3-->
    <div class="carousel-item" style="min-height: 500px; background-image: url({% static 'images/wallpaper.png'%});">
      <div class="container">
        <div class="row" style="min-height: 250px;">
	    		<div class="col">
	      
	    		</div>
	    		<div class="col">
	      
	    		</div>
	  		</div>
	  		<div class="row" style="min-height: 250px;">
	    		<div class="col">
	      
					</div>
						
	    		<div class="col text-right">
	      		<div class="text-white bg-primary rounded align-middle" style="min-height: 170px; font-size: 40px;"><center> Dekoding</center> </div> <br>
	      		<button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#exampleModal">Submit</button>
					</div> 
						
	    	</div>
	  	</div>
		</div>
		<!-- /#Item 3-->
		
	</div>

	<!-- Carousel control -->
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="max-width: 40px">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="max-width: 40px">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
	</a>
	<!-- /#Carousel control -->

</div>
<!-- /#Carousel-->

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title">Title</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body">
	<p>Content Content</p>
      </div>
      <div class="modal-footer">
	<div class="collapse" id="collapseExample">
		<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Close</button>
	</div>
	<button type="button" class="btn btn-primary" id="mySubmit">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- /#Modal -->

{% endblock %}