{% extends "../backend.html" %}
{% load static %}

{% block sidebar-content %}

    <div id="form_title" class="text-white rounded"> <div id="myTitle">Add Owner </div></div>
    
    <div id="form_body" class="rounded">
        <form id="myForm" method="POST" action="/owner/add/">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    {{form.owner_name}}
                </div>
                <div class="col">
                    {{form.last_name}}
                </div>
            </div>
            <br>
            <div class="form-row">
                    <div class="col">
                        {{form.country}}
                    </div>
                    <div class="col">
                        {{form.owner_age}}
                    </div>
                </div>
            <br>
            <button type="submit" class="btn btn-primary" style="background-color: blueviolet; border-color: transparent">SAVE OWNER</button>
        </form>
    </div>


{% endblock %}