{% extends "../backend.html" %}
{% load static %}

{% block sidebar-content %}

    <div id="form_title" class="text-white rounded"> <div id="myTitle">Owners List </div></div>
    
    <div id="form_body" class="rounded" style="width: 100%;">
        <div class="container" style="margin-top: 60px;">
                        
            <table class="table">
                <thead >
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Country</th>
                </tr>
                </thead>
                {% if owners %}
                <tbody>
                {% for owner in owners %}
                <tr>
                    <td>{{owner.owner_name}}</td>
                    <td>{{owner.last_name}}</td>
                    <td>{{owner.owner_age}}</td>
                    <td>{{owner.country}}</td>
                </tr>
                {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
                  
    </div>


{% endblock %}