{% extends "../backend.html" %}
{% load static %}

{% block sidebar-content %}

    <div id="form_title" class="text-white rounded"> <div id="myTitle">Add Dog </div></div>
    
    <div id="form_body" class="rounded" style="min-width: 72%;">
        <form id="myForm" method="POST" action="/dog/add/">
            {% csrf_token %}
            <div class="form-group">
                {{form.name}}
            </div>
            <div class="form-row">
                <div class="col">
                    {{form.breed}}
                </div>
                <div class="col">
                    {{form.age}}
                </div>
                <div class="col">
                    {{form.owner}}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="background-color: blueviolet; border-color: transparent">SAVE DOG</button>
        </form>
    </div>


{% endblock %}