{% extends "../backend.html" %}
{% load static %}

{% block sidebar-content %}

    <div id="form_title" class="text-white rounded"> <div id="myTitle">Dogs List </div></div>
    
    <div id="form_body" class="rounded" style="width: 100%;">
        <div class="container" style="margin-top: 60px;">
                        
            <table class="table">
                <thead >
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Breed</th>
                    <th>Owner</th>
                </tr>
                </thead>
                {% if dogs %}
                <tbody>
                {% for dog in dogs %}
                <tr>
                    <td>{{dog.name}}</td>
                    <td>{{dog.age}}</td>
                    <td>{{dog.breed}}</td>
                    <td>{{dog.owner.owner_name}} {{dog.owner.last_name}}</td>
                </tr>
                {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
                  
    </div>


{% endblock %}